#web_page {
  display: block;
  justify-content: center;
  align-items: center;
}
#page_1 {
  background-image: linear-gradient(80deg, #f8f4f1, #ecf1ff);
  height: 788px;
}
#logo {
  margin-left: 1rem;
}
.headfont {
  font-family: "popins", sans-serif;
  font-weight: 700;
}
.headingfont {
  font-family: "popins", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
#off_whole {
  margin-top: 100%;
  justify-content: center;
}
#nav_bar {
  background-color: white;
  display: flex;
  padding: 20px;
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  justify-content: center;
  text-align: center;
  gap: 190px;
}
#nav_links {
  display: flex;
  gap: 40px;
  a {
    text-decoration: none;
    color: rgb(105, 101, 101);
    font-weight: 500;
    margin-right: 1px;
    font-family: Poppins;
    margin-top: 8px;
  }
  margin-left: 50px;
}
a:hover {
  color: #f8971f !important;
}
a:hover svg {
  fill: #f8971f !important; 
}
#nav_btn {
  display: flex;
  gap: 10px;
  padding-left: 15px;
}
#off_header {
  width: 500px;
  height: 128px;
  margin-top: 30px;
}
#span {
  color: #5978ff;
}
#headcurve {
  margin-left: 200px;
  width: 200px;
}
#off_div1 {
  display: flex;
  align-content: center;
  margin-top: 100px;
  margin-left: 100px;
}
#off_para {
  width: 450px;
  margin-left: 150px;
}
#off_content {
  margin-top: 30px;
  margin-left: 155px;
  width: 412px;
  height: 34px;
}
#off_btn {
  margin-left: 150px;
  margin-top: 50px;
  button {
    width: 208px;
    height: 58px;
  }
}
#off_div {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
#off_div_2 {
  margin-top: 100px;
}
#video_div {
  background-color: #0d1226;
  width: 1020px;
  height: 525px;
  border-radius: 12px;
  padding: 0;
}
#video {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#video_footer {
  color: #ffffff;
  font-size: 20px;
}
#page_2_head {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
}
#video_head {
  align-items: center;
  justify-items: center;
}
#video_footer {
  position: absolute;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 80px;
  width: 1100px;
  padding-top: 20px;
  padding-left: 30px;
  color: #ffffff;
}
.feature_div {
  width: 287px;
  height: 191px;
  display: block;
}
.feature_head {
  padding-top: 20px;
  padding-bottom: 10px;
}
.feature_head_font {
  font-family: "popins", sans-serif;
  font-weight: 700;
  font-style: bold;
}
#f_div1 {
  display: flex;
  gap: 40px;
}
#f_div2 {
  margin-top: 70px;
  display: flex;
  gap: 40px;
}
#f_divs {
  justify-items: center;
}
#page_3 {
  background-color: #f7f9ff;
  width: 100%;
  height: 750px;
}
#page_3_head {
  padding-top: 70px;
  padding-bottom: 50px;
}
#page_4 {
  background-image: url("./imgs/Light\ Mode\ -\ 1.png");
  height: 600px;
}
#advs {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.adv_card {
  height: 420px;
  width: 320px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}
.profile_pic {
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 5px;
  padding-left: 2px;
}
.advrates {
  height: 22px;
  width: 107px;
}
.adv_n_r {
  margin-top: 10px;
  margin-left: 9px;
  display: flex;
  gap: 55px;
}
.adv_spl {
  padding: 10px;
  padding-left: 4px;
}

.advexp {
  padding-left: 12px;
  padding-top: 3px;
}
.advrates {
  display: block;
  margin-top: 20px;
  margin-left: 15px;
}
.crossed {
  text-decoration: line-through;
  font-family: "popins", sans-serif;
  color: #555555;
}
.card_foot {
  width: 80px;
  height: 40px;
  margin-left: 220px;
  margin-bottom: 10px;
}
.uncrossed {
  font-family: "Gilroy", sans-serif;
  color: #0d1226;
  font-size: 15px;
  font-style: bold;
  font-weight: 600;
}
.advrateing {
  margin-right: 0;
}
#page_3_head {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rt3 {
  padding-left: 95px;
}
#rt1 {
  padding-left: 1px;
}
#rt2 {
  padding-left: 35px;
}
#advs_a {
  color: #5978ff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#page_5_head {
  display: flex;
  height: 200px;
}
.steps {
  margin-bottom: 1.5rem;
}
.step {
  padding-bottom: 1rem;
}
#header_5 {
  margin-top: 150px;
}
.steps {
  height: 124px;
  width: 491px;
}
.sfonth {
  font-family: "popins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #121214;
}
.sfontp {
  font-family: "popins", sans-serif;
  font-size: 16px;
  color: #555555;
}
#adv_steps {
  display: flex;
  padding-left: 120px;
  padding-top: 50px;
  gap: 40px;
}
#adv_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-left: 3rem;
  width: auto;
}
#page_5 {
  margin-bottom: 100px;
}
.page_5 {
  display: block;
  justify-content: center;
  align-items: center;
}
.cards {
  height: 354px;
  width: 321px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding-top: 100px;
  p {
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
  }
}
#c_1 {
  background-color: #f0f9fa;
}
#c_2 {
  background-color: #fff5ec;
}
#c_3 {
  background-color: #ecf1fb;
}
#cr_1 {
  padding-top: 17px;
}
#cr_2 {
  padding-top: 20px;
}
#cr_3 {
  padding-top: 15px;
}
.cards {
  position: relative;
  margin-bottom: 30px;
  min-width: 290px;
  margin-top: 50px;
}
#cards {
  display: flex;
  gap: 30px;
  margin: auto;
  margin-top: 150px;
  justify-content: start;
  width: 70%;
  overflow-x: scroll;
  scrollbar-width: none;
}
.profile_logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
#page_6_head {
  text-align: center;
}
#page_6 {
  margin-bottom: 100px;
}
#footer {
  background-color: #0d1226;
  width: 100%;
}
.f_head {
  color: #ecf1fb;
  font-size: 1.1rem;
}
.footer {
  background-color: #0d1226;
  height: 586px;
}
.sec_1 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.sec_1 {
  display: flex;
}
.al {
  margin-top: 8px;
  margin-left: 10px;
}
.p11 {
  color: #9497a1;
  font-size: 13px;
  font-weight: lighter;
  font-weight: 50;
  margin-top: 13px;
}
.icon10 img {
  width: 22px;
  height: 20px;
  margin-right: 10px;
  margin-top: 13px;
}
.section_2 {
  margin-left: 100px;
  width: 233px;
  height: 162px;
  margin-top: 100px;
}
.r_2 a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
}
.r_1 a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}
.r_2 {
  margin-bottom: 25px;
}
.r_1 {
  margin-bottom: 25px;
}
.b_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  border-top: #ffffff solid 2px;
  padding-top: 20px;
}
.section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3 {
  margin-left: 100px;
  width: 233px;
  height: 162px;
  margin-top: 100px;
}
.mainsec_1 {
  margin-top: 100px;
}
#p1 {
  margin-right: 600px;
  color: #ffffff;
}
.b_footer p {
  color: #ffffff;
  margin-left: 30px;
  font-size: 12px;
}
#page_7 {
  width: 100%;
  height: 700px;
  background-color: #f7f9ff;
  padding-top: 90px;
}
#deals {
  display: flex;
  gap: 20px;
  width: 80%;
  overflow-x: scroll;
  scrollbar-width: none;
}
.deals {
  width: 450px;
}
.d_head {
  padding-top: 20px;
  font-family: "popins", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
}
#page_7_head {
  text-align: center;
  margin-bottom: 100px;
}
.d_explore {
  text-decoration: none;
  color: #5978ff;
}
.d_para {
  padding-top: 10px;
}
.cont_unfilled {
  width: 100px;
  height: 5px;
  border-radius: 4px;
  background-color: #d9d9d9;
  margin: 30px auto;
}
.cont_filled {
  width: 0%;
  height: 5px;
  border-radius: 4px;
  background-color: #0d1226;
}
